.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-producto-descuento {
    font-size: 1rem;
    text-align: center;
    color: var(--clr-main);
}

.carrito-producto-detalle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: center;
}

.carrito-producto-imagen {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-vaciar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carrito-acciones-comprar:hover {
    background-color: var(--clr-main-btn);
    color: var(--clr-white);
}

.disabled {
    display: none;
}