.carrito-vacio,
.carrito-comprado {
    color: var(---clr-main);
}

.carrito-producto-descuento {
    font-size: 1rem;
    text-align: center;
    color: var(---clr-main);
}

.carrito-producto-detalle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: center;
}

.carrito-producto-imagen {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(---clr-red);
    cursor: pointer;
}