.contenedor-producto {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    width: 330px; /* Establece un tamaño fijo para la imagen */
    height: 320px; /* Establece un tamaño fijo para la imagen */
    border-radius: 1rem;
}

.producto-detalles {
    width: 330px; /* Establece un tamaño fijo para la imagen */
    height: 140px;
    background-color: var(---clr-main);
    color: var(---clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-detalles-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.2rem;
}

.precio-y-descuento {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
    flex-direction: row; /* Cambia la dirección del flex a vertical */
}